<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/home_style.css" />
    <title>Login</title>
  </head>
  <body>
    <div id="master_div">
      <div id="card_div">
        <H1 id="Welcome_text" style="font-family: 'Verdana';font-size:20px;">Bem-vindo</H1>
        <form>
          <div id="text_div">
            <label style="margin:10px;">Login</label>
            <input type="text" id="textview_password"/>
          </div>
          <br>
          <div id="text_div">
            <label style="margin:10px;">Senha</label>
            <input type="text" id="textview_login"/> 
          </div>
          <br>
          <div style="text-align: center;">
            <input type="submit" value="Login" id="button_login" />
          </div>
        </form>        
      </div>
    </div>
  </body>
</html>
